## Kafka Producer

In [2]:
# Importing necessary libraries
import json
import pandas as pd
from json import dumps
from time import sleep
from kafka import KafkaProducer

In [12]:
# Define producer for the kafka streaming
producer = KafkaProducer(bootstrap_servers=['3.142.76.164:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

Test message to see if the consumer is listening to the kafka producer

In [13]:
# To send a message using the producer
producer.send('fitnessData', value="{'Surname': 'Shah}")

In [5]:
# Importing the csv file
df = pd.read_csv('../Data/FitbitdataMinute.csv')

# Drop the unwanted column
df.drop(columns='Unnamed: 0', inplace=True)

In [6]:
# Display the sample of the dataframe
df.head()

,Id,Date,Time,Calories,Intensity,METs,Steps,Sleep_Value,logId,HeartRate
0,1503960366,2016-04-12,00:00:00,0.7865,0,10,0,0.0,0.0,68.41
1,1503960366,2016-04-12,00:01:00,0.7865,0,10,0,0.0,0.0,68.41
2,1503960366,2016-04-12,00:02:00,0.7865,0,10,0,0.0,0.0,68.41
3,1503960366,2016-04-12,00:03:00,0.7865,0,10,0,0.0,0.0,68.41
4,1503960366,2016-04-12,00:04:00,0.7865,0,10,0,0.0,0.0,68.41

In [ ]:
# Initialize a counter
i=0
# Init of a while loop
while True:
    dict_fitbit_data = df.iloc[i].to_dict() # Define dict from the row of dataframe
    #print(dict_fitbit_data)
    producer.send('fitnessData', value=dict_fitbit_data) # To send a message using the producer
    i += 1 # Increment the counter

In [24]:
# To check the index that was last sent through the producer
print(i)

1326123

In [5]:
# To clear the buffer in kafka
producer.flush()

In [16]:
# To check the last entry in the consumer to the dataframe
df[(df['Id'] == 8877689391) & (df['ActivityMinute'] == '2016-05-12 13:59:00')]

,Id,ActivityMinute,Calories,Intensity,METs,Steps,Sleep_Value,logId,HeartRate
1326122,8877689391,2016-05-12 13:59:00,1.33353,0,11,0,0.0,0.0,69.08